<a href="https://colab.research.google.com/github/2303A51552/ADM-2025/blob/main/Lab_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#DATA ENCODING
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# Example data
data = {'Category': ['Atharv', 'Bharghav', 'Samarth', 'Atharv', 'Atharv']}
df = pd.DataFrame(data)
# Label Encoding
label_encoder = LabelEncoder()
df['Label_Encoded'] = label_encoder.fit_transform(df['Category'])
# One-hot Encoding
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)
print(df)

  Category  Label_Encoded  Category_Atharv  Category_Bhairav  Category_Sakhee
0   Atharv              0             True             False            False
1  Bhairav              1            False              True            False
2   Sakhee              2            False             False             True
3   Atharv              0             True             False            False
4   Atharv              0             True             False            False

In [10]:
#DERIVED COLUMNS
from datetime import datetime
# Example data
data = {'Name': ['Alex', 'Ava'], 'Date_of_Birth': ['2003-12-18', '2005-10-10']}
df = pd.DataFrame(data)
# Convert Date_of_Birth to datetime
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])
# Calculate Age
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year
print(df)

   Name Date_of_Birth  Age
0  Alex    2003-12-18   22
1   Ava    2005-10-10   20

In [16]:
# Example data
data = {'Category': ['Atharv', 'Atharv', 'Bharghav', 'Bharghav', 'Samarth'],'Value': [10, 20, 10, 30, 40]}
df = pd.DataFrame(data)
# Group by and aggregate
grouped = df.groupby('Category').agg({'Value': ['sum', 'mean']})
print("Grouped Data:\n", grouped)

Grouped Data:
          Value
           sum  mean
Category
Atharv      30  15.0
Bharghav    40  20.0
Samarth     40  40.0

In [17]:
# Pivot table
pivot = df.pivot_table(index='Category', values='Value', aggfunc=['sum','mean'])
print("\nPivot Table:\n", pivot)

Pivot Table:
            sum  mean
         Value Value
Category
Atharv      30  15.0
Bharghav    40  20.0
Samarth     40  40.0